{% extends 'base.html.twig' %}
{% block title %}Panier | {% endblock %}
{% block body %}
	    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{path('home')}}"><i class="fa fa-home"></i> Acceuil</a>
                        <a href="{{path('shop_index')}}">Boutique</a>
                        <span>Panier</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    {% if cart | length > 0%}
        <!-- Shopping Cart Section Begin -->
        <section class="shopping-cart-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sh-cart-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th class="product-name">Article</th>
                                        <th>Prix</th>
                                        <th>Quantité</th>
                                        <th>Total</th>
                                        <th><i class="ti-close"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <td class="cr-image ligne-one">
                                                <a href="{{path('product_show', {'slug': item.product.name, 'id': item.product.id})}}">
                                                    <img class="img-shopping-cart" src="{{item.product.coverImage}}" alt="{{item.product.name}}">
                                                </a>
                                            </td>
                                            <td class="cr-title ligne-one">
                                                <a href="{{path('product_show', {'slug': item.product.name, 'id': item.product.id})}}">
                                                    <h5>{{item.product.name}}</h5>
                                                </a>
                                            </td>
                                            <td class="pr-price ligne-one">{{item.product.price | price}}</td>
                                            <td class="qtty-col ligne-one">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                        <input type="text" value="{{item.quantity}}" data-product="{{item.product.id}}">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="total-price ligne-one">{{(item.product.price * item.quantity) | price}}</td>
                                            <td class="close-td ligne-one"><a href="{{path('cart_remove', {'id' : item.product.id})}}"><i class="ti-close"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="justify-content: center">
                            <div class="col-lg-6">
                                <div class="chk-section">
                                    <ul>
                                        <li class="subtotal">Sous-total <span>{{subtotalPrice | price}}</span></li>
                                        <li class="subtotal">Frais de service<span>{{0 | price}}</span></li>
                                        <li class="total-basket">Total <span>{{subtotalPrice | price}}</span></li>
                                    </ul>
                                    <a href="{{path('order_finalize')}}" class="checkout-btn">FINALISER LA COMMANDE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shopping Cart Section End -->
    {% else %}
        <section class="banner-empty-card">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 row-center">
                        <div class="empty-card-imgcontainer">
                            <img src="{{asset('media/images/static/empty-card.png')}}" alt="" class="empty-card-img">
                        </div>
                        <div class="text-empty-card">
                            <span>Votre Panier est vide</span>
                        </div>
                        <div class="btn-empty-card">
                            <a href="{{path('shop_index')}}" class="redirect-to-shop">
                                <span>Commencez vos achats</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
{% endblock javascripts %}
