{% extends 'base.html.twig' %}

{% block body %}
    <!-- Section Caroussel -->
    <section class="caroussel-section">
        <div class="caroussel-items owl-carousel">
            <div class="single-caroussel-items caroussel-baground" data-bgcaroussel="{{asset('media/images/static/hero-1.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <span>Accessoirs, Enfants, Femme</span>
                            <h1>La Seduction à bas prix</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn-shop-now" href="#" class="primary-btn">Acheter Maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-caroussel-items caroussel-baground" data-bgcaroussel="{{asset('media/images/static/hero-2.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kids</span>
                            <h1>Black friday</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn-shop-now" href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-caroussel-items caroussel-baground" data-bgcaroussel="{{asset('media/images/static/hero-3.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kids</span>
                            <h1>Black friday</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn-shop-now" href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Banner -->
    <div class="categories-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="">
                        <div class="categories-image-container">
                            <img src="{{asset('media/images/static/banner-1.jpg')}}" alt="">
                            <div class="categories-text">
                                <h4>Men’s</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="">
                        <div class="categories-image-container">
                            <img src="{{asset('media/images/static/banner-2.jpg')}}" alt="">
                            <div class="categories-text">
                                <h4>Women’s</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="">
                        <div class="categories-image-container">
                            <img src="{{asset('media/images/static/banner-3.jpg')}}" alt="">
                            <div class="categories-text">
                                <h4>Kid’s</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% for collection in collectionsPreview %}
       {% if loop.first %}
            <!-- Femme Categories Section -->
            <section class="women-categories">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="women-categories-product caroussel-baground" data-bgcaroussel="{{asset(collection.image)}}">
                                <h2>{{collection.category.name}}</h2>
                                <a href="{{path('shop_category', {'slug': collection.category.slug})}}">Voir Plus</a>
                            </div>
                        </div>
                        <div class="col-lg-8 offset-lg-1">
                            <div class="categories-control">
                                <ul>
                                    {% for subCategory in collection.subCategories %}
                                        <li class="{{loop.first ? 'active'}}">{{subCategory.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="product-slider owl-carousel">
                                {% for product in collection.products %}
                                    {% include "partials/_box_product_cart.html.twig" with {'product' : product} %}  
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <!-- Homme Categories Section -->
            <section class="man-categories">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="categories-control">
                                <ul>
                                    {% for subCategory in collection.subCategories %}
                                        <li class="{{loop.first ? 'active'}}">{{subCategory.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="product-slider owl-carousel">
                                {% for product in collection.products %}
                                    {% include "partials/_box_product_cart.html.twig" with {'product' : product} %}  
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1">
                            <div class="women-categories-product caroussel-baground m-large" data-bgcaroussel="{{asset(collection.image)}}">
                                <h2>{{collection.category.name}}</h2>
                                <a href="{{path('shop_category', {'slug': collection.category.slug})}}">Voir Plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
       {% endif %} 
    {% endfor %}

    <!-- Avantage -->
    <section style="padding: 50px 0; background: #282828;">
        <div class="container">
            <div class="avantage-items">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single-avantage-container">
                            <div class="info-icon">
                                <img src="{{asset('media/images/static/icon-1.png')}}" alt="">
                            </div>
                            <div class="info-text">
                                <h5>Free Shipping</h5>
                                <p>For all order over 99$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-avantage-container">
                            <div class="info-icon">
                                <img src="{{asset('media/images/static/icon-2.png')}}" alt="">
                            </div>
                            <div class="info-text">
                                <h5>Delivery On Time</h5>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-avantage-container">
                            <div class="info-icon">
                                <img src="{{asset('media/images/static/icon-1.png')}}" alt="">
                            </div>
                            <div class="info-text">
                                <h5>Secure Payment</h5>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
