{% extends 'base.html.twig' %}

{% block body %}
    <!-- Section Caroussel -->
    <section class="caroussel-section">
        <div class="caroussel-items owl-carousel">
            <div class="single-caroussel-items caroussel-baground" data-bgcaroussel="{{asset('media/images/static/hero-1.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <span>Accessoirs, Enfants, Femme</span>
                            <h1>La Seduction à bas prix</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn-shop-now" href="#" class="primary-btn">Acheter Maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-caroussel-items caroussel-baground" data-bgcaroussel="{{asset('media/images/static/hero-2.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kids</span>
                            <h1>Black friday</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn-shop-now" href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-caroussel-items caroussel-baground" data-bgcaroussel="{{asset('media/images/static/hero-3.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kids</span>
                            <h1>Black friday</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn-shop-now" href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Banner -->
    <div class="categories-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="">
                        <div class="categories-image-container">
                            <img src="{{asset('media/images/static/banner-1.jpg')}}" alt="">
                            <div class="categories-text">
                                <h4>Men’s</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="">
                        <div class="categories-image-container">
                            <img src="{{asset('media/images/static/banner-2.jpg')}}" alt="">
                            <div class="categories-text">
                                <h4>Women’s</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="">
                        <div class="categories-image-container">
                            <img src="{{asset('media/images/static/banner-3.jpg')}}" alt="">
                            <div class="categories-text">
                                <h4>Kid’s</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Femme Categories Section -->
    <section class="women-categories ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="women-categories-product caroussel-baground" data-bgcaroussel="{{asset('media/images/static/products/women-large.jpg')}}">
                        <h2>Femme</h2>
                        <a href="#">Voir Plus</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="categories-control">
                        <ul>
                            <li class="active">Chaussures</li>
                            <li>Vetement</li>
                            <li>Accesoires</li>
                            <li>Sac</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/women-1.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/women-2.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/women-3.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/women-4.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Homme Categories Section -->
    <section class="man-categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="categories-control">
                        <ul>
                            <li class="active">Chaussures</li>
                            <li>Vetement</li>
                            <li>Accesoires</li>
                            <li>Sac</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/man-1.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/man-2.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/man-3.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="slide-img">
                                <img src="{{asset('media/images/static/products/man-4.jpg')}}" alt="">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">
                                        Acheter Maintenant
                                    </a>
                                </div>
                            </div>

                            <div class="detail-box">
                                <div class="type">
                                    <span class="article-name" href="">Rabbed Cardigan</span>
                                    <span>Noe Arrival</span>
                                </div>
                                <span class="price">5000 KMF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="women-categories-product caroussel-baground m-large" data-bgcaroussel="{{asset('media/images/static/products/man-large.jpg')}}">
                        <h2>Homme</h2>
                        <a href="#">Voir Plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Avantage -->
    <section style="padding: 50px 0; background: #282828;">
        <div class="container">
            <div class="avantage-items">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single-avantage-container">
                            <div class="info-icon">
                                <img src="{{asset('media/images/static/icon-1.png')}}" alt="">
                            </div>
                            <div class="info-text">
                                <h5>Free Shipping</h5>
                                <p>For all order over 99$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-avantage-container">
                            <div class="info-icon">
                                <img src="{{asset('media/images/static/icon-2.png')}}" alt="">
                            </div>
                            <div class="info-text">
                                <h5>Delivery On Time</h5>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-avantage-container">
                            <div class="info-icon">
                                <img src="{{asset('media/images/static/icon-1.png')}}" alt="">
                            </div>
                            <div class="info-text">
                                <h5>Secure Payment</h5>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
