{% extends 'base.html.twig' %}

{% block title %}Inscription | {% endblock %}

{% block body %}
<div class="container mt-5 white-card">
    
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center">S'inscrire</h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.lName)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.fName)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.phoneNumber)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.email)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.password)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.passwordConfirmation)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            {{form_row(form.agreeTerms)}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-md-4 col-md-4 offset-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">INSCRIPTION</button>
            </div>
        </div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}

