<h3>Nouvelle commande en attente de confirmation</h3>

<p>{{client.fullName}} vient de passer une nouvelle commande pour un total de {{total_price}} </p>
<p>le numéro de commande est <strong>{{order_number}}</strong></p>

<p>
    Client: {{client.fullName}} <br>
    Téléphone: {{client.phoneNumber}} <br>
    Email: <a href="mailto:{{client.email}}">{{client.email}}</a>
</p>

<p>vous pouvez directement consulter vos commandes en <a href="http://www.google.com" target="_blank" rel="noopener noreferrer">cliquant ici</a></p>