{% extends 'base.html.twig' %}
{% form_theme form 'partials/_default_form_them.html.twig' %}

{% block title %}Nous contacter | {% endblock %}

{% block body %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{path('home')}}"><i class="fa fa-home"></i> Acceuil</a>
                        <span>nous-contacter</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section Begin -->
    <section class="contact-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form-container">
                        <div class="contact-msg">
                            <h4>Leave A Comment</h4>
                            <p>Our staff will call back later and answer your questions.</p>
                            {{form_start(form, {'attr': {'class': 'msg-form'}})}}
                            
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{form_widget(form.fullName)}}
                                    </div>
                                    <div class="col-lg-6">
                                        {{form_widget(form.email)}}
                                    </div>
                                    <div class="col-lg-12">
                                        {{form_widget(form.message)}}
                                        <button type="submit" class="site-btn">Send message</button>
                                    </div>
                                </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-info">
                        <h4>Contacts Us</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of classical Latin literature from 45 BC, maki years old.</p>
                    </div>
                    <div class="contact-info-detail">
                        <div class="contact-info-detail-item">
                            <div class="contact-info-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="contact-info-text">
                                <span>Address:</span>
                                <p>60-49 Road 11378 New York</p>
                            </div>
                        </div>
                        <div class="contact-info-detail-item">
                            <div class="contact-info-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="contact-info-text">
                                <span>Phone:</span>
                                <p>+65 11.188.888</p>
                            </div>
                        </div>
                        <div class="contact-info-detail-item">
                            <div class="contact-info-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="contact-info-text">
                                <span>Email:</span>
                                <p>hellocolorlib@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

{% endblock %}
