{% extends 'base.html.twig' %}
{% block title %}{{product.name}} | {% endblock %}

{% set category = product.subCategory.category %}
{% set subCategory = product.subCategory %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{{path('home')}}"><i class="fa fa-home"></i> Acceuil</a>
                        <a href="{{path('shop_index')}}">Boutique</a>
                        <a href="{{path('shop_category', {'slug': category.slug})}}">{{category.name}}</a>
                        <a href="{{path('shop_sub_category', {'category_slug': category.slug, 'slug': subCategory.slug})}}">{{subCategory.name}}</a>
                        <span>{{product.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <section class="product-shop page-details">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="pr-active-image" src="{{asset(product.coverImage)}}" alt="{{product.name}}">
                            </div>
                            <div class="pr-caroussel-background">
                                <div class="pr-img-caroussel ps-slider owl-carousel">
								{% for image in product.images %}
                                    <div class="pt {% if loop.first %}active{% endif %}" data-pr-img-bg="{{asset(image.url)}}">
										<img src="{{asset(image.url)}}" alt="{{asset(image.caption)}}">
									</div>
								{% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="pr-details-container">
                                <div class="pr-detail-title">
                                    <span>{{subCategory.name}}</span>
                                    <h3>{{product.name}}</h3>
                                    {# <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a> #}
                                </div>
                                {# <div class="pr-detail-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span>(5)</span>
                                </div> #}
                                <div class="pr-detail-overview">
                                    <p>Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor
                                        sit amet, consectetur adipisicing elit, sed do mod tempor</p>
                                    <h4>{{product.price | price}}<span>629.99</span></h4>
                                </div>
                                
                                <form action="{{path('cart_add', {'id': product.id})}}" method="post">
                                    {% for option in product.options %}
                                        {% if option.type == "color" %}
                                            <div class="pd-color">
                                                <h6>Couleur</h6>
                                                <div class="pd-color-choose">
                                                    {% for optionField in option.productOptionFields %}
                                                        <div class="color-item-container">
                                                            <input type="radio" id="{{optionField.name | color_id}}" name="{{option.type}}" value="{{optionField.name}}" required>
                                                            <label for="{{optionField.name | color_id}}" class="{{optionField.name | color_id}} {{loop.first ? 'active'}}" title="{{optionField.name}}">
                                                                <span>
                                                                    <i class="ti-check"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        {% elseif option.type == 'size' %}

                                            <div class="fw-size pd-size-choose">
                                                {% for optionField in option.productOptionFields %}
                                                    <div class="size-item-container">
                                                        <input type="radio" id="size-{{optionField.id}}" value="{{optionField.name}}" name="{{option.type}}" required>
                                                        <label for="size-{{optionField.id}}" class="{{loop.first ? 'active'}}">{{optionField.name | upper }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                                
                                        {% endif %}
                                    {% endfor %}

                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1" name="quantity">
                                        </div>
                                        <button type="submit" class="site-btn primary-btn pd-cart ">Ajouter au panier</button>
                                    </div>
                                </form>
                                <ul class="pr-detail-tags">
                                    <li><span>CATEGORIES</span>: {{category.name ~ ' - ' ~ subCategory.name}}</li>
                                    {# <li><span>TAGS</span>: Clothing, T-shirt, Woman</li> #}
                                </ul>
                                {# <div class="share-product-btn">
                                    <div class="pr-code">Sku : 00012</div>
                                    <div class="social-network-share">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-linkedin"></i></a>
                                    </div>
                                </div> #}
                            </div>
                        </div>

                    </div>
                    <div class="pr-specification-tab">
                        <div class="pr-sp-tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                                </li>
                                {# <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews (02)</a>
                                </li> #}
                            </ul>
                        </div>
                        <div class="pr-sp-tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="product-content">
										{# <h5>Description</h5> #}
										{{product.description | raw}}
                                    </div>
                                </div>
                                {# <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="specification-table">
                                        <table>
                                            <tr>
                                                <td class="pr-catdegory">Customer Rating</td>
                                                <td>
                                                    <div class="pr-detail-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(5)</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Price</td>
                                                <td>
                                                    <div class="pr-price">$495.00</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Add To Cart</td>
                                                <td>
                                                    <div class="add-to-cart">+ add to cart</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Availability</td>
                                                <td>
                                                    <div class="pr-stock">22 in stock</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Weight</td>
                                                <td>
                                                    <div class="p-weight">1,3kg</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Size</td>
                                                <td>
                                                    <div class="pr-size">Xxl</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Color</td>
                                                <td><span class="cs-color"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="pr-catdegory">Sku</td>
                                                <td>
                                                    <div class="pr-code">00012</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    <div class="customer-review-option">
                                        <h4>2 Comments</h4>
                                        <div class="comment-option">
                                            <div class="co-item">
                                                <div class="p-code">
                                                    <img src="img/product-single/av-1.png" alt="">
                                                </div>
                                                <div class="av-text">
                                                    <div class="at-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <h5>Brandon Kelley <span>27 Aug 2019</span></h5>
                                                    <div class="at-reply">Nice !</div>
                                                </div>
                                            </div>
                                            <div class="co-item">
                                                <div class="av-pic">
                                                    <img src="img/product-single/av-2.png" alt="">
                                                </div>
                                                <div class="av-text">
                                                    <div class="at-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <h5>Roy Banks <span>27 Aug 2019</span></h5>
                                                    <div class="at-reply">Nice !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-rating">
                                            <h6>Your Ratind</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="contact-msg">
                                            <h4>Leave A Comment</h4>
                                            <form action="#" class="msg-form">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <input type="text" placeholder="Name">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" placeholder="Email">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea placeholder="Messages"></textarea>
                                                        <button type="submit" class="site-btn">Send message</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->


    <!-- Related Products Section -->
    <div class="related-pr">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-4">Articles similaires</h2>
                    <div class="related-product-slider owl-carousel">
                        {% for product in sameProducts %}
                            <div class="box">
                                <div class="slide-img">
                                    <img src="{{asset(product.coverImage)}}" alt="{{product.name}}">
                                    <div class="overlay">
                                        <a href="{{path('product_show', {'slug': product.slug, 'id': product.id})}}" class="buy-btn">
                                            Acheter Maintenant
                                        </a>
                                    </div>
                                </div>
        
                                <div class="detail-box">
                                    <a href="{{path('product_show', {'slug': product.slug, 'id': product.id})}}">
                                        <div class="type">
                                            <span class="article-name" href="">{{product.name | trunc_it(28, '...')}}</span>
                                        </div>
                                        <div class="price">{{product.price | price}}</div>
                                        <div class="marketing-price">
                                            <span class="line-trought-price">7500 KMF</span>
                                            <span class="percentage-promo">-15%</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Products Section End -->

{% endblock %}
