{% block _product_option_productOptionFields_widget %}
    <div class="container">
        {# <p>Definir les champs de cette option</p> #}
        <input type="hidden" id="option-items-counter" value="0">
        {{form_widget(form)}}
        <button class="btn btn-primary btn-sm" id="add-option-item" type="button">Ajouter un champ</button>
    </div>
    <pre>
    </pre>
{% endblock _product_option_productOptionFields_widget %}

{% block _product_option_productOptionFields_entry_row %}
    {{form_widget(form)}}
{% endblock _product_option_productOptionFields_entry_row %}

{% block _product_option_productOptionFields_entry_widget %}
    <div class="optionField-group" id="block_{{id}}">
        <div class="row">
            <div class="col-12 col-md-4">
                {{form_row(form.name)}}
            </div>
            {% if form.parent.parent.children['type'].vars['value'] == 'color' %}
                <div class="col-12 col-md-4">
                    {{form_row(form.value, {'label': 'Code couleur', 'attr' : {'placeholder': 'Ex: #FFFFFF'}})}}
                </div>
            {% endif %}
            <div class="col-12 col-md-2 d-flex align-items-center">
                <button class="btn btn-outline-danger" type="button" title="supprimer" data-action="delete_option_item" data-target="#block_{{id}}">
                    <i class="fas fa-trash fa-lg"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock _product_option_productOptionFields_entry_widget %}
