{% extends 'admin/base.html.twig' %}

{% block title %}
	{{product.name}}
	|
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="row">
			<div class="col-6">
				<img src="{{ asset(product.coverImage)}}" alt="{{product.name}}" class="img-fluid img-thumbnail" style="max-width: 555px;" srcset="">
			</div>
			<div class="col">
				<h1 class="display-6">{{product.name}}</h1>
				<p class="h1 font-weight-bold">{{product.price | price}}</p>
				<span class="h4">
                    Sous-categorie: <a class="card-text" href="{{path('admin_sub_category_show', {'id': product.subCategory.id} )}}">
                        {{product.subCategory.name}}
                    </a>
                </span> <br>
				<span class="h4">Visible: {{product.visible ? 'Oui' : "Non"}}</span> <br>
				<a href="{{path('admin_product_edit', {'id': product.id})}}" class="btn btn-primary float-right mb-2 ml-2">Editer</a>
				{# <a href="#" class="btn btn-secondary float-right mb-2 ml-2">Mettre hors ligne</a> #}
				{{form_start(visibilityForm)}}
				<input type="hidden" name="_token" value="{{ csrf_token('visibility' ~ product.id) }}">
                    {% if product.visible == true %}
				        <button type="submit" class="btn btn-outline-warning float-right ml-2 mb-2" onclick="return confirm('Etes-vous sur de vouloir masquer cette article?')">Masquer</button>
                    {% else %}
				        <button type="submit" class="btn btn-primary float-right ml-2 mb-2" onclick="return confirm('Etes-vous sur de vouloir Afficher cette article?')">Afficher</button>
                    {% endif %}
				{{form_end(visibilityForm)}}
				{{form_start(deleteForm)}}
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
				<button type="submit" class="btn btn-outline-danger float-right ml-2 mb-2" onclick="return confirm('Etes-vous sur de vouloir supprimer cette article?')">Supprimer</button>
				{{form_end(deleteForm)}}
				{# <a href="#" class="btn btn-outline-danger">Supprimer</a> #}
			</div>
		</div>
		<section class="mt-3">
			<h1 class="h3">Options</h1>
			<div class="row">
				{% for option in product.options %}
					<div class="col-12 col-md-4 mb-2">
						<div class="card" style="width: 18rem;">
							<div class="card-header">
								{{option.frenchType}}
							</div>
							<ul class="list-group list-group-flush">
								{% for optionField in option.productOptionFields %}
									<li class="list-group-item">{{optionField.name}}</li>
								{% endfor %}
							</ul>
							<div class="card-footer">
								<a href="{{path('admin_product_option_edit', {'id': option.id})}}" class="btn btn-primary btn-sm">Editer</a>
								<a href="#" class="btn btn-danger float-right btn-sm">Supprimer</a>
							</div>
						</div>
					</div>
				{% else %}
					<div class="col-12">
						<p>Aucune option disponible pour cet article</p>
					</div>
				{% endfor %}
				<div class="row">
					<div class="col">
                        {% if 'color' not in options_type %}
                            <a href="{{path('admin_product_option_add', {'type': 'color', 'id' : product.id})}}" class="mr-3">
                                <i class="fas fa-plus mr-2"></i>Ajouter des couleurs
                            </a>
                        {% endif %}
                        {% if 'size' not in options_type %}
                            <a href="{{path('admin_product_option_add', {'type': 'size', 'id' : product.id})}}" class="">
                                <i class="fas fa-plus mr-2"></i>Ajouter des tailles
                            </a>
                        {% endif %}
					</div>
				</div>
			</div>
		</section>

		<section class="mt-3">
			<div class="row">
				<div class="col-12 col-md-6">
					<h1 class="h3">Images</h1>
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for image in product.images %}
								<li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
							{% endfor %}
						</ol>
						<div class="carousel-inner">
							{% for image in product.images %}
								<div class="carousel-item {% if loop.first %}active{% endif %} ">
									<img src="{{image.url}}" class="d-block w-100" alt="image: {{image.caption}} ">
									<div
										class="carousel-caption d-none d-md-block">
										{# <h5>{{product.name}}</h5> #}
										<p>
											<small>{{image.caption}}</small>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" carouselexampleindicatorsaria-hidden="true"></span>
							<span class="sr-only">Suivant</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Précédant</span>
						</a>
					</div>
				</div>
                <div class="col">
                    <h1 class="h3">Description</h1>
                    {{product.description | raw}}
                </div>
			</div>
		</div>
	</section>

	{# <section class="mt-3">
	            <h1 class="h3">Descrption</h1>
	            <div class="row">
	                <div class="col">{{product.description | raw}}</div>
	            </div>
	        </section> #}

</div>{% endblock %}
