{% extends 'admin/base.html.twig' %}

{% block title %}|
	{{product.name}}
{% endblock %}

{% block body %}
	<div class="container mt-3">
        {% if product.images | length > 0 %}
            <div class="row">
                <div class="col-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in product.images %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in product.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %} ">
                                    <img src="{{image.url}}" class="d-block w-100" alt="image: {{image.caption}} ">
                                    <div
                                        class="carousel-caption d-none d-md-block">
                                        {# <h5>{{product.name}}</h5> #}
                                        <p>
                                            <small>{{image.caption}}</small>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" carouselexampleindicatorsaria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédant</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <h1 class="display-6">{{product.name}}</h1>
                    <p class="h1 font-weight-bold">{{product.price | number_format(2, ',', ' ', ' ')}}KMF</p>
                    {% for subCategory in product.subCategories %}
                        <a class="card-text" href="{{path('admin_sub_category_show', {'id': subCategory.id} )}}">
                            <span class="badge badge-danger">{{subCategory.name}}</span> 
                        </a>
                    {% endfor %}
                    <h2 class="h4">{{product.visible ? 'En ligne' : "N'est pas en ligne"}}</h2>
                    <a href="#" class="btn btn-primary">Editer</a>
                    <a href="#" class="btn btn-secondary">Mettre hors ligne</a>
                    <a href="#" class="btn btn-outline-danger">Supprimer</a>
                </div>
            </div>
        {% else %}
            <div class="row mb-2">
                <div class="col-12 col-md-7">
                    <img src="{{ asset(product.coverImage) }}"
                        alt="bannière du {{product.name}}" class="img-fluid img-thumbnail" style="max-width: 555px;"
                        srcset="">
                </div>
                <div class="col-12 col-md-5">
                    <h1 class="h2">{{product.name}}</h1>
                    <p class="h3 font-weight-bold">{{product.price | number_format(0, ',', ' ', ' ')}} Fc</p>
                    {% for subCategory in product.subCategories %}
                        <a class="card-text" href="{{path('admin_sub_category_show', {'id': subCategory.id} )}}">
                            <span class="badge badge-danger">{{subCategory.name}}</span> 
                        </a>
                    {% endfor %}
                    <h2 class="h5">En ligne: {{product.visible ? 'Oui' : "Non"}}</h2>
                    <a href="#" class="btn btn-primary">Editer</a>
                    <a href="#" class="btn btn-secondary">Mettre hors ligne</a>
                    <a href="#" class="btn btn-outline-danger">Supprimer</a>
                    <h2 class="h3">Description</h2>
                    {{product.description | raw }}
                </div>
        </div>
        {% endif %}
        {# <div class="row my-4">
            <div class="col">
                <h1 class="h3">CARACTERISTIQUE PRINCIPALES</h1>
                <ul>
                    <li class="lead">Batterie: 5200mAh</li>
                    <li class="lead">Ram: 6Gb</li>
                    <li class="lead">Stockage: 128Gb</li>
                    <li class="lead">Appareil photo: 48MP + 8MP + 5MP + 2MP/16MP</li>
                </ul>
            </div>
        </div> #}
        {# <div class="row">
            <div class="col">
                <h1 class="h3">Description</h1>
                {{product.description | raw }}
            </div>
        </div> #}
	</div>
{% endblock %}
