{% extends 'base.html.twig' %}

{% block title %}| Finalisation de la commande{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="white-card">
                <h1 class="h3">À propos de la commande</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit consequatur natus unde neque. Sed possimus dolorem facilis earum quam, sint ad culpa numquam consequatur quisquam odio voluptatibus ipsa consequuntur!</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, veniam, quos saepe iusto repudiandae, earum tenetur rerum fuga nemo consequuntur aut aperiam nam reprehenderit inventore maxime facere aspernatur ullam culpa beatae nostrum adipisci architecto quisquam iste! Eius quibusdam atque, temporibus hic rerum, vitae, voluptatibus officiis dolores tempore tenetur aperiam adipisci.
                </p>
            </div>
            <div class="white-card mt-3">
                <h1 class="h3 d-inline-block">Verification de mes coordonnées</h1><button class="btn btn-sm btn-outline-primary float-right" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Modifier</button>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit consequatur natus unde neque. Sed possimus dolorem facilis earum quam, sint ad culpa numquam consequatur quisquam odio voluptatibus ipsa consequuntur!</p>
                <div class="font-weight-bold">
                    Maamoune Hassane
                </div>
                <div>
                    <p>
                        maamoune97bv@gmail.com <br>
                        +2693216849
                    </p>
                </div>
            </div>
            <div class="white-card mt-3">
                <h1 class="h3 d-inline-block">Point de récupération</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit consequatur natus unde neque. Sed possimus dolorem facilis earum quam, sint ad culpa numquam consequatur quisquam odio voluptatibus ipsa consequuntur!</p>
                <div class="form-group" data-children-count="1">
                    <label for="agency">Agence</label>
                    <select class="form-control" id="agency">
                      <option>AMA-Express Mustamudu Anjouan</option>
                      <option>AMA-Express Ouani Anjouan</option>
                      <option>AMA-Express Moroni Grd Comores</option>
                      <option>AMA-Express Mitsamihouli Grd Comores</option>
                      <option>AMA-Express Fomboni Moheli</option>
                    </select>
                  </div>
            </div>
            <div class="white-card mt-3 mb-5">
                <h1 class="h3 d-inline-block">Récaputilatif de la commande</h1>

                <ul style="list-style-type: none;">
                    {% for item in products %}
                        <li>{{item.quantity}}x {{item.product.name}}</li>
                    {% endfor %}
                </ul>
                <p>
                    A récupérer à partir du <span class="font-weight-bold">Mardi 05 Jan 2021</span> à <span class="font-weight-bold" id="recovery-point">Mustamudu Anjouan</span>
                </p>
                <div class="container px-5">
                    <p>
                        Sous-total <span class="float-right">{{subtotalPrice | number_format(2, ',', ' ', ' ') }} KMF</span>
                    </p>
                    <p>
                        Frais d'expédition <span class="float-right">13 000 KMF</span>
                    </p>
                    <hr>
                    <p class="h4">
                        Total TTC <span class="text-primary font-weight-bold float-right">145 000 KMF</span>
                    </p>
                    <button class="btn btn-primary btn-lg btn-block mt-4" type="button">Passer la commande</button>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="white-card">
                <h1 class="h3">Ma commande</h1>
                <hr>
                    {% for item in products %}
                    <div class="row mb-2">
                        <div class="col-4">
                            <img src="{{item.product.coverImage}}" alt="image {{item.product.name}}" class="img-cart-product">
                        </div>
                        <div class="col">
                            <span class="d-block">{{item.product.name}}</span>
                            <span class="text-primary d-block my-1">{{item.product.price | number_format(2, ',', ' ', ' ')}} KMF</span>
                            <span>Qté: {{item.quantity}} </span>
                        </div>
                    </div>
                    {% endfor %}
                <hr>
                <p>
                    Sous-total <span class="float-right font-weight-bold">{{subtotalPrice | number_format(2, ',', ' ', ' ') }} KMF</span>
                </p>
                <p>
                    Frais d'expédition <span class="float-right font-weight-bold">13 000 KMF</span>
                </p>
                <hr>
                <p class="h4">
                    Total TTC: <span class="text-primary font-weight-bold float-right">145 000 KMF</span>
                </p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modifier mes coordonnées</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="row">
                      <div class="col">
                        <div class="form-group">
                            <label for="lName" class="col-form-label">Nom:</label>
                            <input type="text" class="form-control" id="lName" value="{{app.user.lName}}"/>
                          </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                            <label for="fName" class="col-form-label">Prénom:</label>
                            <input type="text" class="form-control" id="fName" value="{{app.user.fName}}"/>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" value="{{app.user.email}}"/>
                          </div>
                      </div>
                      <div class="col">
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Téléphone:</label>
                            <input type="tel" class="form-control" id="message-text" value="{{app.user.phoneNumber}}"/>
                            <small>Exemple: +2693216849</small>
                          </div>
                      </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock %}

{% block javascripts %}
    <script>

    $('#agency').change((element) => {
        const agency = $(element.currentTarget).children("option:selected").val();
        $('#recovery-point').text(agency);
    })

    //**************************************************************************

        $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
//   modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body #recipient-name').val(recipient)
})
    </script>
{% endblock javascripts %}
