{% extends 'base.html.twig' %}
{% form_theme form 'partials/_register_form_theme.html.twig' %}

{% block title %}Paremètre du compte | {% endblock %}

{% block body %}
	<section class="account-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mb-5">
					{% include "setting_account/settings_navbar.html.twig" %}
				</div>
				<div class="col-lg-8">
                    {{form_start(form, {'attr': {'class': 'checkout-form' } })}}
						<div class="row">
                            <div class="col">{{form_row(form.lName)}}</div>
                            <div class="col">{{form_row(form.fName)}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{form_row(form.email)}}</div>
                            <div class="col">{{form_row(form.phoneNumber)}}</div>
                        </div>
						<div class="btn-acouunt-submit">
							<button type="submit" class="site-btn">Enregistre les modifications</button>
						</div>
                    {{form_end(form)}}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
