{% extends 'base.html.twig' %}
{% form_theme form 'partials/_default_form_them.html.twig' %}
{% block title %}Paremètre du compte | {% endblock %}

{% block body %}
	<section class="account-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mb-5">
					{% include "setting_account/settings_navbar.html.twig" %}
				</div>
				<div class="col-lg-8">
                   {{form_start(form, {'attr': {'class': 'checkout-form' } })}}
                        <div class="row">
                            <div class="col-lg-12">
                                {{form_row(form.actual)}}
                            </div>
                            <div class="col-lg-12">
                                {{form_row(form.new)}}
                            </div>
                            <div class="col-lg-12">
                                {{form_row(form.confirm)}}
                            </div>
                        </div>
                        <div class="btn-acouunt-submit">
                            <button type="submit" class="site-btn">Enregistre les modifications</button>
                        </div>
                    {{form_end(form)}}
                </div>
			</div>
		</div>
	</section>
{% endblock %}
